<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <display-name>poc-apiman-publicapi</display-name>

    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>

    <!--<context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/</param-value>
    </context-param>-->

    <context-param>
        <param-name>resteasy.role.based.security</param-name>
        <param-value>true</param-value>
    </context-param>

    <servlet>
        <servlet-name>poc-apiman-publicapi</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.soneca.poc.apiman.publicapi.core.Bootstrap</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>poc-apiman-publicapi</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <distributable />
<!--
    <login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>this is ignored currently</realm-name>
    </login-config>-->

    <!--Only active if you need keycloak login flow <security-constraint>
        <web-resource-collection>
            <web-resource-name>Partners</web-resource-name>
            <url-pattern>/partner/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>partner</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->


</web-app>